<!-- dark: gruvbox-dark.css / monokai-sublime.css -->
<!-- light: foundation  github-gist-->
<link rel="stylesheet" href="static/css/hightlight/foundation.css">
<div class="ct-box">
	<h3 ng-bind ="cont.title"></h3>

	<div class="ct-info inline-btn">
		<a href="#/user/{{cont.author}}" class="btn" ng-bind ="cont.author"></a>
		<a class="btn" ng-bind ="cont.timestr"></a>
	</div>

	<div class="ct-tags inline-btn" ng-if='cont.tags.length'>
		<a ng-repeat="tag in cont.tags" href="#/tags/{{tag}}" class="btn" ng-bind ="'#'+tag"></a>
	</div>

	<div class="ct-content" id="contHtml"></div>

	<hr>
</div>
<script>
	
</script>